spring:
  profiles:
    active: dev # 表示开发环境
  application:
    name: alibaba-config-server

#  在 Nacos Spring Cloud 中，dataId 的完整格式如下：

#  ${prefix}-${spring.profiles.active}.${file-extension}
#  最终文件名： alibaba-config-server-dev.yml