server:
  port: 3344
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: git@github.com:ShunyiChen/autoparts-config-repo.git
          search-paths:
            - autoparts-config-repo
      label: main
eureka:
  client:
    serviceUrl:
      defaultZone=http://eureka:8761/eureka/: